body[data-page="landing"] {
  --font-size: 16px;
  --line-height: 19px;
}

@media (max-width: 760px) {
  body[data-page="landing"] {
    --font-size: var(--font-size-mobile);
    --line-height: var(--line-height-mobile);
  }
}